header{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color:#1D1B34;
    letter-spacing: .1em;
}
nav a{
    text-decoration: none;
    color:#1D1B34;
}
#hamicon, #close {
    font-size:3em;
    text-align:right;
}
#navLink1, #navLink2, #navLink3 {
    text-align:right;
    padding-bottom: .5em;
}
.hamburger a, .hamicon {
    display:block;
    text-decoration: none;
    color:#1D1B34;
    text-align:right;
}
.right {
    word-spacing: .5em
}
a:hover {
    color: #EA5292;
}
body {
    width:100%;
    Margin: 0 0;
}
.parent {
    font: 15px trebuchet, sans-serif;
    display:flex;
    flex:1;
    justify-content: space-between;
}
.logo {
    display: block;
    margin: 0 auto;
}
.row1 {
    display:flex;
}
.left1 {
    background-color:#F7D735;
    flex-basis: 50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
.right1 {
    background-color:#67C8C5;
    flex-basis: 50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
.row2 {
    display:flex;
    background-color: #EA5292;
    justify-content: center;
}
.row3 {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}
.left3{
    display:flex;
    background-color: #1D1B34;
    justify-content: center;
    flex-basis: 50%;
    padding:2em;
    flex:1;
}
.right3{
    display:flex;
    background-color: #FBAF63;
    justify-content: center;
    flex-basis: 50%;
    padding:2em;
    flex:1;
}
.row4{
    display:flex;
    background-color: #67C8C5;
    justify-content: center;
    padding:2em;
    flex-wrap:wrap;
}
.left4{
    display:flex;
}
.right4 {
    display:flex;
}
.row5{
    display:flex;
}
.left5{
    background-color: #FBAF63;
    flex-basis:50%;
    justify-content: center;
    display:flex;
    justify-content: center;
    padding:2em;
}
.right5{
    background-color: #EA5292;
    flex-basis:50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
.row6{
    display:flex;
    background-color: #F7D735;
    justify-content: center;
}
.row7{
    display:flex;
}
.left7{
    background-color: #67C8C5;
    flex-basis:50%;
    display:flex;
    justify-content: center;
}
.right7{
    background-color: #1D1B34;
    flex-basis:50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
.row8 {
    display:flex;
    justify-content: center;
    background-color: #FBAF63;
    padding:2em;
}
.row9{
    display:flex;
    justify-content: center;
}
.left9{
    background-color: #F7D735;
    flex-basis:50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
.right9{
    background-color: #EA5292;
    flex-basis:50%;
    display:flex;
    justify-content: center;
    padding:2em;
}
footer{
    display:flex;
    justify-content: space-between;
    background-color:#E8E1D9;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom: .5em;
}
.stats, .mystats, .ischool, .newhouse, .su {
    display: none;
}
.banner {
    background-color: #E8E1D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
}

.intro {
    font-size:2em;
}
.contact {
    display:flex;
    justify-content: center;
    padding-bottom: 2em;
}
.top, .bottom, .form{
    display:flex;
}
.myinfo {
    padding-left: 2em;
    border-left:.15em solid #1D1B34;
    margin:auto;
}
.form {
    padding-right:2em;
}
.name, .phone {
    padding-right:1em;
}
.map{
    width:100%;
    filter: grayscale(100%);
}
.contactbody{
    margin-left:10em;
    margin-right:10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.heading {
    display:block;
    padding-bottom: 5em;
}
.aboutparagraph {
    margin: auto 0;
    padding-right: 5em;
}
.top, .bottom{
    padding-bottom:1em;
}
#name, #phone, #reason, #email{
    min-width: 15em;
    min-height: 2em;
    border:none;
    border-bottom: .15em solid #1D1B34;
}
#reason{
    min-width: 15.5em;
    min-height: 2.3em;
    border:none;
    border-bottom: .15em solid #1D1B34;
}
#message {
    min-width:32em;
    min-height:6em;
    border:none;
    border-bottom: .15em solid #1D1B34;
}
input[type=submit] {
    border:none;
    background-color: #1D1B34;
    color:#ffffff;
    padding-left:1em;
    padding-right:1em;
    padding-top:.75em;
    padding-bottom:.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submit {
    display:flex;
    justify-content: flex-end;
    padding-top:1em;
}
::placeholder {
    color:#1D1B34;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.infoemail, .infophone, .infoaddress {
    flex:1;
}
.infobox {
    box-shadow: .09em .09em .02em #E8E1D9;;
    color:#1D1B34;
    padding: 1em;
}
.infosmaller { 
    margin-bottom:2em;
    box-shadow: .09em .09em 2em #E8E1D9;;
    border-style: solid;
    border-width:.25em;
    border-color:#E8E1D9;
    border-radius: .5em;
    padding-top: 0em;
}

.reachme h2, .form h2 {
    font-size:2em;
    background-image: linear-gradient(to right, #FBAF63, #F7D735);
    border-style: solid;
    border-radius:.15em;
    border-color:#E8E1D9;
    padding:1em;
    color: #ffffff;
    margin:0em;
}
.resume {
    background-color: #1D1B34; 
    color:#ffffff;
    padding-bottom: 2em;
    font-size: 1.15em;
}
.myresume {
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 1em;
}

.resumebutton:hover {
    background-color: #EA5292;
    color: #ffffff;
}
.resumebutton {
    background-color: #1D1B34;
    color:#E8E1D9;
    padding:.5em;
    padding-right:2em;
    padding-left:2em;
    border-radius: 5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto 0;
}
#b4 {
    min-width: max-content;
    min-height: max-content;
    object-fit: scale-down;
}
#b5 {
    min-width: max-content;
    min-height: max-content;
    object-fit: scale-down;
    vertical-align: top;

}
.aboutflexparent {
    background-color: #EA5292;
    display:flex;
    flex:1;
}
.aboutflex {
    justify-content: space-around;
    background-color: #ffffff;
    display:flex;
    color:#1D1B34;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex:2;
    margin-left:5em;
    margin-right:5em;
    margin-bottom:5em;
    box-shadow: .09em .09em 1em #1D1B34;
}
.af1, .af2, .af3 {
    flex:2;
    padding: 2em;
}
.af2 {
    border-left: solid .15em #E8E1D9;
    border-right: solid .15em #E8E1D9;
}
.lm {
    background-color: #1D1B34;
    color:#ffffff;
    padding:.5em;
    padding-right:1em;
    padding-left:1em;
    border-radius: 5em;
    font-size: .75em;
    text-align: center;
    margin: auto 0;
}
.lm:hover {
    background-color: #EA5292;
}
.year {
    color:#8c8c8c;
    font-size: .855em;
}
.pink {
    background-color: #EA5292;
}
.abouttop {
    display:flex;
}
.stats {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.su, .ischool, .newhouse {
    flex-basis:20%;
    background-color: #F7D735;
    padding-top:2em;
    padding-bottom:2em;
}
.stat {font-size: 4em;}
.mystats {display:flex; padding-left:10em;}


@media only screen and (max-width: 700px) {
   .left {display:none;}
   .left4, .right4 {display:flex;}
   .left1, .right1, .left3, .right3, .left4, .right4, .row1, .row2, .row3, .row4, .row5, .left5, .right5, .row6, .row7, .left7, .right7, .row8, .row9, .left9, .right9{flex-wrap:wrap; flex:1; justify-content: center;}
   .parent {display:flex; justify-content: flex-end;}
   .logo {padding-bottom:0em;}
   #hamicon {display:block;}
   #close {display:none;}
   #navLink1, #navLink2, #navLink3 {display:none;}
   .myinfo {display:none;}
   .top, .bottom {display:block; margin:0em; padding:0em;}
   #phone, #email, #reason, #name {min-width: 32.5em; min-height:2.5em; margin-bottom:2em; border:none; background-color:#E8E1D9;}
   #message {background-color: #E8E1D9; border:none;}
   .normalform {
    border-style:solid;
    border-width: .02em;
    box-shadow: .09em .09em .02em #E8E1D9;
    border-color: #E8E1D9;
    }
    .formbody {padding:1em;}
    .submit {display:flex; justify-content: center;}
    input[type=submit] {padding:1em; padding-left:6em; padding-right:6em; background-image: linear-gradient(to right, #FBAF63, #F7D735); font-weight:bold; color:#1D1B34; border-radius: 5em; box-shadow: .09em .09em 2em #E8E1D9;}
    input[type=submit]:hover {background-image:none; background-color: #1D1B34; color:#ffffff;}
 }
 @media only screen and (max-width: 1000px) {
    .row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9 {flex-wrap: wrap;}
    .left1, .right1, .left3, .right3, .left5, .right5, .left7, .right7, .left9, .right9 {flex:1;}
    .left4, .right4 {display:flex;}
  }
  @media only screen and (min-width: 700px) {
    #hamicon {display:none;}
    #close {display:none;}
    nav {display:block;}
    .infosmaller {display:none;}
    .formtitle {display:none;}
  }